<?xml version="1.0" encoding="UTF-8"?>
<configuration >
<!--     <property name="appender.encoder.pattern" value=" %d{HH:mm:ss.SSS} %-5level %logger{40} - %msg%n" /> -->
    <property name="appender.encoder.pattern" value="[Test]  %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level (%file:%line\\).%M\\(\\) - %message%n" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <include resource="logback/level.xml"/>
    <include resource="logback/stdout.xml"/>
    <include resource="logback/root.dev.xml"/>
</configuration>