<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--Hot fix for xml.log.path-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    
    <aop:config>
        <aop:advisor advice-ref="customizableTraceInterceptor" pointcut="execution(* com.telcordia.inpac.ws.NPCWebService.processNPCMsg(..))" />
    </aop:config>
    
    <bean id="npcWs" class="cat.mnp.ws.service.DummyNpcWebServiceImpl">
        <property name="validator" ref="npcMessageValidator"/>
        
        <property name="filePath" value="${xml.log.path}/DummyWs"/>
        <property name="backupPath" value="${xml.log.path}/DummyWs/backup"/>
        <property name="failPath" value="${xml.log.path}/DummyWs/fail"/>
        <property name="errorPath" value="${xml.log.path}/DummyWs/error"/>
        <property name="pathDateFormat" value="yyyyMM"/>
        
        <property name="filenameFormat" value="DummyMsg_%s_%s_%s.xml"/>
        <property name="fileEncoding" value="UTF-8"/>
        <property name="fileDateFormat" value="yyyyMMddHHmmss"/>
    </bean>

</beans>