<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <aop:config>
        <aop:advisor advice-ref="customizableTraceInterceptor" pointcut="execution(* cat.mnp.mvno.ws.order.generator.OrderIdGeneratorService.generate(..))" />
    </aop:config>
    
    <bean id="orderIdGeneratorWs" class="cat.mnp.mvno.ws.service.OrderIdGeneratorServiceImpl">
        <property name="userMapper" ref="userMapper"/>
        <property name="successResult" value="success"/>
        <property name="amqpTemplate" ref="orderIdGeneratorWsAmqpTemplate"/>
        <property name="errorText" value="Error"/>
    </bean>
    
    <rabbit:template id="orderIdGeneratorWsAmqpTemplate"
                     connection-factory="rabbitMqOrderIdGeneratorWsPubSubConnectionFactory" message-converter="amqpJsonMsgConverter"
                     exchange="MvnoGenerateOrderIdMsgFanout" channel-transacted="true"
                     reply-timeout="10000">
    </rabbit:template>
    
    <rabbit:queue name="MvnoGeneratedOrderIdMsgQ"/>

</beans>