<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="1 seconds">
	<conversionRule conversionWord="tid" converterClass="miw.logback.ThreadIdConverter" />
	<contextName>ClhMsgBroker</contextName>
	<property name="appender.encoder.pattern" value="[ClhMsgBroker] [%tid] %d{HH:mm:ss} %-5level (%file:%line\\) - %message%n" />
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<include resource="logback/level.xml" />
	<include resource="logback/stdout.xml" />
	<include resource="logback/file.xml" />
	<include resource="logback/stash.xml" />

	<include resource="logback/root.${spring.profiles.active}.xml" />
</configuration>